Proyecto/Connected Services/AlmacenDisecWS/DBControllerWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://web.almacendisec.pucp.edu.pe/" targetNamespace="http://web.almacendisec.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="deleteBrand" type="tns:deleteBrand" />
  <xs:element name="deleteBrandResponse" type="tns:deleteBrandResponse" />
  <xs:element name="deleteCategory" type="tns:deleteCategory" />
  <xs:element name="deleteCategoryResponse" type="tns:deleteCategoryResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="insertBrand" type="tns:insertBrand" />
  <xs:element name="insertBrandResponse" type="tns:insertBrandResponse" />
  <xs:element name="insertCategory" type="tns:insertCategory" />
  <xs:element name="insertCategoryResponse" type="tns:insertCategoryResponse" />
  <xs:element name="insertFamily" type="tns:insertFamily" />
  <xs:element name="insertFamilyResponse" type="tns:insertFamilyResponse" />
  <xs:element name="queryAllBrand" type="tns:queryAllBrand" />
  <xs:element name="queryAllBrandResponse" type="tns:queryAllBrandResponse" />
  <xs:element name="queryAllCategory" type="tns:queryAllCategory" />
  <xs:element name="queryAllCategoryResponse" type="tns:queryAllCategoryResponse" />
  <xs:element name="queryAllCustomer" type="tns:queryAllCustomer" />
  <xs:element name="queryAllCustomerResponse" type="tns:queryAllCustomerResponse" />
  <xs:element name="queryAllEmployee" type="tns:queryAllEmployee" />
  <xs:element name="queryAllEmployeeResponse" type="tns:queryAllEmployeeResponse" />
  <xs:element name="queryAllFamily" type="tns:queryAllFamily" />
  <xs:element name="queryAllFamilyResponse" type="tns:queryAllFamilyResponse" />
  <xs:element name="queryAllMeasurement_Unit" type="tns:queryAllMeasurement_Unit" />
  <xs:element name="queryAllMeasurement_UnitResponse" type="tns:queryAllMeasurement_UnitResponse" />
  <xs:element name="queryAllStorehouse" type="tns:queryAllStorehouse" />
  <xs:element name="queryAllStorehouseResponse" type="tns:queryAllStorehouseResponse" />
  <xs:element name="queryAllSupplier" type="tns:queryAllSupplier" />
  <xs:element name="queryAllSupplierResponse" type="tns:queryAllSupplierResponse" />
  <xs:element name="queryAllTransferDone" type="tns:queryAllTransferDone" />
  <xs:element name="queryAllTransferDoneResponse" type="tns:queryAllTransferDoneResponse" />
  <xs:element name="queryAllTransferPending" type="tns:queryAllTransferPending" />
  <xs:element name="queryAllTransferPendingResponse" type="tns:queryAllTransferPendingResponse" />
  <xs:element name="queryBrandByName" type="tns:queryBrandByName" />
  <xs:element name="queryBrandByNameResponse" type="tns:queryBrandByNameResponse" />
  <xs:element name="querySupplierByName" type="tns:querySupplierByName" />
  <xs:element name="querySupplierByNameResponse" type="tns:querySupplierByNameResponse" />
  <xs:element name="updateBrand" type="tns:updateBrand" />
  <xs:element name="updateBrandResponse" type="tns:updateBrandResponse" />
  <xs:element name="updateCategory" type="tns:updateCategory" />
  <xs:element name="updateCategoryResponse" type="tns:updateCategoryResponse" />
  <xs:element name="updateFamily" type="tns:updateFamily" />
  <xs:element name="updateFamilyResponse" type="tns:updateFamilyResponse" />
  <xs:complexType name="deleteCategory">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteCategoryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllTransferPending">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllTransferPendingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:transfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="departure_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="employee_destiny" type="tns:internEmployee" />
      <xs:element minOccurs="0" name="employee_origin" type="tns:internEmployee" />
      <xs:element minOccurs="0" name="entry_date" type="xs:dateTime" />
      <xs:element name="id_transfer" type="xs:int" />
      <xs:element minOccurs="0" name="license_plate" type="xs:string" />
      <xs:element name="status_tranfer" type="xs:int" />
      <xs:element minOccurs="0" name="storehouse_destiny" type="tns:storehouse" />
      <xs:element minOccurs="0" name="storehouse_origin" type="tns:storehouse" />
      <xs:element minOccurs="0" name="technician" type="tns:technician" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tranfer_lines" nillable="true" type="tns:transferLine" />
      <xs:element minOccurs="0" name="transfer_fee" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="internEmployee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:employee">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="email_employee" type="xs:string" />
      <xs:element name="employee_id" type="xs:int" />
      <xs:element minOccurs="0" name="employee_name" type="xs:string" />
      <xs:element name="employee_status" type="xs:int" />
      <xs:element minOccurs="0" name="eployee_code" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="privilege" type="tns:privilege" />
      <xs:element name="salary" type="xs:double" />
      <xs:element minOccurs="0" name="second_last_name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="storehouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="tns:city" />
      <xs:element name="id_storehouse" type="xs:int" />
      <xs:element name="phone_number" type="xs:int" />
      <xs:element minOccurs="0" name="storehouse_name" type="xs:string" />
      <xs:element name="storehouse_status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="city">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" type="xs:string" />
      <xs:element name="id_city" type="xs:int" />
      <xs:element minOccurs="0" name="name_city" type="xs:string" />
      <xs:element name="status_city" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="technician">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:employee">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="transferLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="departure_date" type="xs:dateTime" />
      <xs:element name="id_transfer_line" type="xs:int" />
      <xs:element minOccurs="0" name="material" type="tns:material" />
      <xs:element name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="material">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:item">
        <xs:sequence>
          <xs:element name="id_material" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="material_details" nillable="true" type="tns:materialDetail" />
          <xs:element name="material_state" type="xs:int" />
          <xs:element name="min_quantity" type="xs:int" />
          <xs:element name="state_material" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" type="tns:brand" />
      <xs:element minOccurs="0" name="family" type="tns:family" />
      <xs:element name="id_item" type="xs:int" />
      <xs:element minOccurs="0" name="name_item" type="xs:string" />
      <xs:element name="price" type="xs:double" />
      <xs:element minOccurs="0" name="stock" type="tns:stock" />
      <xs:element minOccurs="0" name="suppliers" type="tns:supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="materialDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="code_material" type="xs:string" />
      <xs:element name="id_detail_material" type="xs:int" />
      <xs:element minOccurs="0" name="measure" type="tns:measureUnit" />
      <xs:element minOccurs="0" name="serie_material" type="xs:string" />
      <xs:element name="status_material" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="measureUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="abbrevation_measure_unit" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="id_measure_unit" type="xs:int" />
      <xs:element name="status_measure_unit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="brand">
    <xs:sequence>
      <xs:element name="brand_id" type="xs:int" />
      <xs:element minOccurs="0" name="brand_name" type="xs:string" />
      <xs:element name="brand_status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="family">
    <xs:sequence>
      <xs:element minOccurs="0" name="category" type="tns:category" />
      <xs:element name="id_family" type="xs:int" />
      <xs:element minOccurs="0" name="name_family" type="xs:string" />
      <xs:element name="sataus_family" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="category">
    <xs:sequence>
      <xs:element name="category_id" type="xs:int" />
      <xs:element minOccurs="0" name="category_name" type="xs:string" />
      <xs:element name="category_status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stock">
    <xs:sequence>
      <xs:element name="actual_quantity" type="xs:int" />
      <xs:element name="id_stock" type="xs:int" />
      <xs:element minOccurs="0" name="storehouse" type="tns:storehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="adress" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="tns:city" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id_supplier" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="items_supplier" nillable="true" type="tns:item" />
      <xs:element name="phone_number" type="xs:int" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="supplier_name" type="xs:string" />
      <xs:element name="supplier_status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" type="tns:brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertBrandResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySupplierByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySupplierByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertFamily">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:family" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertFamilyResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllStorehouse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllStorehouseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:storehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllMeasurement_Unit">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllMeasurement_UnitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:measureUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateBrandResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:category" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateCategoryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllTransferDone">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllTransferDoneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:transfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllEmployee">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllEmployeeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllSupplier">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllSupplierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllFamily">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllFamilyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:family" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteBrand">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteBrandResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateFamily">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:family" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateFamilyResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCustomer">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element name="customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="customer_name" type="xs:string" />
      <xs:element minOccurs="0" name="customer_ruc" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:category" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertCategoryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBrandByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBrandByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllBrand">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllBrandResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCategory">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllCategoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:category" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="privilege">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MANAGER" />
      <xs:enumeration value="STOREKEEPER" />
      <xs:enumeration value="TECHNICIAN" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>