Proyecto/Connected Services/AlmacenDisecWS/DBControllerWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://web.almacendisec.pucp.edu.pe/" targetNamespace="http://web.almacendisec.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ChangePassword" type="tns:ChangePassword" />
  <xs:element name="ChangePasswordResponse" type="tns:ChangePasswordResponse" />
  <xs:element name="CityByName" type="tns:CityByName" />
  <xs:element name="CityByNameResponse" type="tns:CityByNameResponse" />
  <xs:element name="ConfirmUsuario" type="tns:ConfirmUsuario" />
  <xs:element name="ConfirmUsuarioResponse" type="tns:ConfirmUsuarioResponse" />
  <xs:element name="EmployeeByCode" type="tns:EmployeeByCode" />
  <xs:element name="EmployeeByCodeResponse" type="tns:EmployeeByCodeResponse" />
  <xs:element name="FinishWork_order" type="tns:FinishWork_order" />
  <xs:element name="FinishWork_orderResponse" type="tns:FinishWork_orderResponse" />
  <xs:element name="FinishWork_order_line" type="tns:FinishWork_order_line" />
  <xs:element name="FinishWork_order_lineResponse" type="tns:FinishWork_order_lineResponse" />
  <xs:element name="deleteBrand" type="tns:deleteBrand" />
  <xs:element name="deleteBrandResponse" type="tns:deleteBrandResponse" />
  <xs:element name="deleteCategory" type="tns:deleteCategory" />
  <xs:element name="deleteCategoryResponse" type="tns:deleteCategoryResponse" />
  <xs:element name="deleteEmployee" type="tns:deleteEmployee" />
  <xs:element name="deleteEmployeeResponse" type="tns:deleteEmployeeResponse" />
  <xs:element name="deleteFamily" type="tns:deleteFamily" />
  <xs:element name="deleteFamilyResponse" type="tns:deleteFamilyResponse" />
  <xs:element name="deleteMaterial" type="tns:deleteMaterial" />
  <xs:element name="deleteMaterialResponse" type="tns:deleteMaterialResponse" />
  <xs:element name="deleteMeasure_unit" type="tns:deleteMeasure_unit" />
  <xs:element name="deleteMeasure_unitResponse" type="tns:deleteMeasure_unitResponse" />
  <xs:element name="deleteStorehouse" type="tns:deleteStorehouse" />
  <xs:element name="deleteStorehouseResponse" type="tns:deleteStorehouseResponse" />
  <xs:element name="deleteSupplier" type="tns:deleteSupplier" />
  <xs:element name="deleteSupplierResponse" type="tns:deleteSupplierResponse" />
  <xs:element name="deleteTool" type="tns:deleteTool" />
  <xs:element name="deleteToolResponse" type="tns:deleteToolResponse" />
  <xs:element name="dispatchWork_order" type="tns:dispatchWork_order" />
  <xs:element name="dispatchWork_orderResponse" type="tns:dispatchWork_orderResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="insertBrand" type="tns:insertBrand" />
  <xs:element name="insertBrandResponse" type="tns:insertBrandResponse" />
  <xs:element name="insertCategory" type="tns:insertCategory" />
  <xs:element name="insertCategoryResponse" type="tns:insertCategoryResponse" />
  <xs:element name="insertEmployee" type="tns:insertEmployee" />
  <xs:element name="insertEmployeeResponse" type="tns:insertEmployeeResponse" />
  <xs:element name="insertFamily" type="tns:insertFamily" />
  <xs:element name="insertFamilyResponse" type="tns:insertFamilyResponse" />
  <xs:element name="insertMaterial" type="tns:insertMaterial" />
  <xs:element name="insertMaterialResponse" type="tns:insertMaterialResponse" />
  <xs:element name="insertMeasure_unit" type="tns:insertMeasure_unit" />
  <xs:element name="insertMeasure_unitResponse" type="tns:insertMeasure_unitResponse" />
  <xs:element name="insertStorehouse" type="tns:insertStorehouse" />
  <xs:element name="insertStorehouseResponse" type="tns:insertStorehouseResponse" />
  <xs:element name="insertSupplier" type="tns:insertSupplier" />
  <xs:element name="insertSupplierResponse" type="tns:insertSupplierResponse" />
  <xs:element name="insertTool" type="tns:insertTool" />
  <xs:element name="insertToolResponse" type="tns:insertToolResponse" />
  <xs:element name="insertarWorkOrder" type="tns:insertarWorkOrder" />
  <xs:element name="insertarWorkOrderResponse" type="tns:insertarWorkOrderResponse" />
  <xs:element name="queryAllBrand" type="tns:queryAllBrand" />
  <xs:element name="queryAllBrandResponse" type="tns:queryAllBrandResponse" />
  <xs:element name="queryAllCategory" type="tns:queryAllCategory" />
  <xs:element name="queryAllCategoryByName" type="tns:queryAllCategoryByName" />
  <xs:element name="queryAllCategoryByNameResponse" type="tns:queryAllCategoryByNameResponse" />
  <xs:element name="queryAllCategoryResponse" type="tns:queryAllCategoryResponse" />
  <xs:element name="queryAllCitybyId" type="tns:queryAllCitybyId" />
  <xs:element name="queryAllCitybyIdResponse" type="tns:queryAllCitybyIdResponse" />
  <xs:element name="queryAllCountry" type="tns:queryAllCountry" />
  <xs:element name="queryAllCountryResponse" type="tns:queryAllCountryResponse" />
  <xs:element name="queryAllCustomer" type="tns:queryAllCustomer" />
  <xs:element name="queryAllCustomerByName" type="tns:queryAllCustomerByName" />
  <xs:element name="queryAllCustomerByNameResponse" type="tns:queryAllCustomerByNameResponse" />
  <xs:element name="queryAllCustomerResponse" type="tns:queryAllCustomerResponse" />
  <xs:element name="queryAllEmployee" type="tns:queryAllEmployee" />
  <xs:element name="queryAllEmployeeResponse" type="tns:queryAllEmployeeResponse" />
  <xs:element name="queryAllFamily" type="tns:queryAllFamily" />
  <xs:element name="queryAllFamilyResponse" type="tns:queryAllFamilyResponse" />
  <xs:element name="queryAllMaterial" type="tns:queryAllMaterial" />
  <xs:element name="queryAllMaterialResponse" type="tns:queryAllMaterialResponse" />
  <xs:element name="queryAllMeasurement_Unit" type="tns:queryAllMeasurement_Unit" />
  <xs:element name="queryAllMeasurement_UnitResponse" type="tns:queryAllMeasurement_UnitResponse" />
  <xs:element name="queryAllStorehouse" type="tns:queryAllStorehouse" />
  <xs:element name="queryAllStorehouseResponse" type="tns:queryAllStorehouseResponse" />
  <xs:element name="queryAllSupplier" type="tns:queryAllSupplier" />
  <xs:element name="queryAllSupplierResponse" type="tns:queryAllSupplierResponse" />
  <xs:element name="queryAllTool" type="tns:queryAllTool" />
  <xs:element name="queryAllToolResponse" type="tns:queryAllToolResponse" />
  <xs:element name="queryAllTransferDone" type="tns:queryAllTransferDone" />
  <xs:element name="queryAllTransferDoneResponse" type="tns:queryAllTransferDoneResponse" />
  <xs:element name="queryAllTransferPending" type="tns:queryAllTransferPending" />
  <xs:element name="queryAllTransferPendingResponse" type="tns:queryAllTransferPendingResponse" />
  <xs:element name="queryBrandByName" type="tns:queryBrandByName" />
  <xs:element name="queryBrandByNameResponse" type="tns:queryBrandByNameResponse" />
  <xs:element name="queryFamilyByCategory" type="tns:queryFamilyByCategory" />
  <xs:element name="queryFamilyByCategoryResponse" type="tns:queryFamilyByCategoryResponse" />
  <xs:element name="queryFamilyByName" type="tns:queryFamilyByName" />
  <xs:element name="queryFamilyByNameResponse" type="tns:queryFamilyByNameResponse" />
  <xs:element name="queryMaterialByName" type="tns:queryMaterialByName" />
  <xs:element name="queryMaterialByNameResponse" type="tns:queryMaterialByNameResponse" />
  <xs:element name="queryMeasurementByDescription" type="tns:queryMeasurementByDescription" />
  <xs:element name="queryMeasurementByDescriptionResponse" type="tns:queryMeasurementByDescriptionResponse" />
  <xs:element name="queryStockMaterialByStorehouse" type="tns:queryStockMaterialByStorehouse" />
  <xs:element name="queryStockMaterialByStorehouseResponse" type="tns:queryStockMaterialByStorehouseResponse" />
  <xs:element name="queryStockToolByStorehouse" type="tns:queryStockToolByStorehouse" />
  <xs:element name="queryStockToolByStorehouseResponse" type="tns:queryStockToolByStorehouseResponse" />
  <xs:element name="queryStorehouseByName" type="tns:queryStorehouseByName" />
  <xs:element name="queryStorehouseByNameResponse" type="tns:queryStorehouseByNameResponse" />
  <xs:element name="querySupplierByName" type="tns:querySupplierByName" />
  <xs:element name="querySupplierByNameResponse" type="tns:querySupplierByNameResponse" />
  <xs:element name="queryToolByName" type="tns:queryToolByName" />
  <xs:element name="queryToolByNameResponse" type="tns:queryToolByNameResponse" />
  <xs:element name="queryWork_order_lineById" type="tns:queryWork_order_lineById" />
  <xs:element name="queryWork_order_lineByIdResponse" type="tns:queryWork_order_lineByIdResponse" />
  <xs:element name="updateBrand" type="tns:updateBrand" />
  <xs:element name="updateBrandResponse" type="tns:updateBrandResponse" />
  <xs:element name="updateCategory" type="tns:updateCategory" />
  <xs:element name="updateCategoryResponse" type="tns:updateCategoryResponse" />
  <xs:element name="updateEmployee" type="tns:updateEmployee" />
  <xs:element name="updateEmployeeResponse" type="tns:updateEmployeeResponse" />
  <xs:element name="updateFamily" type="tns:updateFamily" />
  <xs:element name="updateFamilyResponse" type="tns:updateFamilyResponse" />
  <xs:element name="updateMaterial" type="tns:updateMaterial" />
  <xs:element name="updateMaterialResponse" type="tns:updateMaterialResponse" />
  <xs:element name="updateMeasure_unit" type="tns:updateMeasure_unit" />
  <xs:element name="updateMeasure_unitResponse" type="tns:updateMeasure_unitResponse" />
  <xs:element name="updateStorehouse" type="tns:updateStorehouse" />
  <xs:element name="updateStorehouseResponse" type="tns:updateStorehouseResponse" />
  <xs:element name="updateSupplier" type="tns:updateSupplier" />
  <xs:element name="updateSupplierResponse" type="tns:updateSupplierResponse" />
  <xs:element name="updateTool" type="tns:updateTool" />
  <xs:element name="updateToolResponse" type="tns:updateToolResponse" />
  <xs:complexType name="updateSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="adress" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="tns:city" />
      <xs:element minOccurs="0" name="country" type="tns:country" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id_supplier" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="items_supplier" nillable="true" type="tns:item" />
      <xs:element name="phone_number" type="xs:int" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="supplier_name" type="xs:string" />
      <xs:element name="supplier_status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="city">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" type="tns:country" />
      <xs:element name="id_city" type="xs:int" />
      <xs:element name="id_country" type="xs:int" />
      <xs:element minOccurs="0" name="name_city" type="xs:string" />
      <xs:element name="status_city" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="country">
    <xs:sequence>
      <xs:element name="id_country" type="xs:int" />
      <xs:element minOccurs="0" name="name_country" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" type="tns:brand" />
      <xs:element minOccurs="0" name="currency" type="tns:currency" />
      <xs:element minOccurs="0" name="family" type="tns:family" />
      <xs:element name="id_item" type="xs:int" />
      <xs:element minOccurs="0" name="name_item" type="xs:string" />
      <xs:element name="price" type="xs:double" />
      <xs:element minOccurs="0" name="stock" type="tns:stock" />
      <xs:element minOccurs="0" name="suppliers" type="tns:supplier" />
      <xs:element name="type_item" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="brand">
    <xs:sequence>
      <xs:element name="brand_id" type="xs:int" />
      <xs:element minOccurs="0" name="brand_name" type="xs:string" />
      <xs:element name="brand_status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="family">
    <xs:sequence>
      <xs:element minOccurs="0" name="category" type="tns:category" />
      <xs:element name="id_family" type="xs:int" />
      <xs:element minOccurs="0" name="name_family" type="xs:string" />
      <xs:element name="sataus_family" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="category">
    <xs:sequence>
      <xs:element name="category_id" type="xs:int" />
      <xs:element minOccurs="0" name="category_name" type="xs:string" />
      <xs:element name="category_status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stock">
    <xs:sequence>
      <xs:element name="actual_quantity" type="xs:int" />
      <xs:element name="id_stock" type="xs:int" />
      <xs:element minOccurs="0" name="storehouse" type="tns:storehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="storehouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="tns:city" />
      <xs:element name="id_storehouse" type="xs:int" />
      <xs:element name="phone_number" type="xs:int" />
      <xs:element minOccurs="0" name="storehouse_name" type="xs:string" />
      <xs:element name="storehouse_status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateSupplierResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllTransferPending">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllTransferPendingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:transfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="departure_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="employee_destiny" type="tns:internEmployee" />
      <xs:element minOccurs="0" name="employee_origin" type="tns:internEmployee" />
      <xs:element minOccurs="0" name="entry_date" type="xs:dateTime" />
      <xs:element name="id_transfer" type="xs:int" />
      <xs:element minOccurs="0" name="license_plate" type="xs:string" />
      <xs:element name="status_tranfer" type="xs:int" />
      <xs:element minOccurs="0" name="storehouse_destiny" type="tns:storehouse" />
      <xs:element minOccurs="0" name="storehouse_origin" type="tns:storehouse" />
      <xs:element minOccurs="0" name="technician" type="tns:technician" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tranfer_lines" nillable="true" type="tns:transferLine" />
      <xs:element minOccurs="0" name="transfer_fee" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="internEmployee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:employee">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="email_employee" type="xs:string" />
      <xs:element name="employee_id" type="xs:int" />
      <xs:element minOccurs="0" name="employee_name" type="xs:string" />
      <xs:element name="employee_status" type="xs:int" />
      <xs:element minOccurs="0" name="eployee_code" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="privilege" type="tns:privilege" />
      <xs:element name="salary" type="xs:double" />
      <xs:element minOccurs="0" name="second_last_name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="technician">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:employee">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="transferLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="departure_date" type="xs:dateTime" />
      <xs:element name="id_transfer_line" type="xs:int" />
      <xs:element minOccurs="0" name="material" type="tns:material" />
      <xs:element name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="material">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:item">
        <xs:sequence>
          <xs:element name="id_material" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="material_details" nillable="true" type="tns:materialDetail" />
          <xs:element name="material_state" type="xs:int" />
          <xs:element name="min_quantity" type="xs:int" />
          <xs:element name="state_material" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="materialDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="code_material" type="xs:string" />
      <xs:element name="id_detail_material" type="xs:int" />
      <xs:element minOccurs="0" name="measure" type="tns:measureUnit" />
      <xs:element minOccurs="0" name="serie_material" type="xs:string" />
      <xs:element name="status_material" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="measureUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="abbrevation_measure_unit" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="id_measure_unit" type="xs:int" />
      <xs:element name="status_measure_unit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" type="tns:brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertBrandResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateBrandResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:category" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateCategoryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:employee" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertEmployeeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteMaterial">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteMaterialResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinishWork_order">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinishWork_orderResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateMeasure_unit">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:measureUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateMeasure_unitResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertSupplierResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStorehouseByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStorehouseByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:storehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarWorkOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:workOrder" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="code_work_order" type="xs:string" />
      <xs:element minOccurs="0" name="customer" type="tns:customer" />
      <xs:element minOccurs="0" name="description_work_order" type="xs:string" />
      <xs:element minOccurs="0" name="employee" type="tns:internEmployee" />
      <xs:element minOccurs="0" name="expected_final_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="expected_start_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="final_date" type="xs:dateTime" />
      <xs:element name="id_work_order" type="xs:int" />
      <xs:element minOccurs="0" name="start_date" type="xs:dateTime" />
      <xs:element name="status_work_order" type="xs:int" />
      <xs:element minOccurs="0" name="technician" type="tns:technician" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="work_details" nillable="true" type="tns:workOrderLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element name="customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="customer_name" type="xs:string" />
      <xs:element minOccurs="0" name="customer_ruc" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workOrderLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="departure_date" type="xs:dateTime" />
      <xs:element name="id_work_order_detail" type="xs:int" />
      <xs:element name="id_work_order_line" type="xs:int" />
      <xs:element minOccurs="0" name="item" type="tns:item" />
      <xs:element minOccurs="0" name="material_detail" type="tns:materialDetail" />
      <xs:element name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="tool_detail" type="tns:toolDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="toolDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="code_tool" type="xs:string" />
      <xs:element name="detail_tool" type="xs:int" />
      <xs:element minOccurs="0" name="serie_tool" type="xs:string" />
      <xs:element name="tool_state" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarWorkOrderResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteFamily">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteFamilyResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllMaterial">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllMaterialResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteBrand">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteBrandResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertStorehouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:storehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertStorehouseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinishWork_order_line">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:workOrderLine" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinishWork_order_lineResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateEmployeeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertMeasure_unit">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:measureUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertMeasure_unitResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCategory">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllCategoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:category" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCustomerByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCustomerByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySupplierByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="querySupplierByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteMeasure_unit">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteMeasure_unitResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStockToolByStorehouse">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStockToolByStorehouseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tool" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tool">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:item">
        <xs:sequence>
          <xs:element name="id_tool" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tool_details" nillable="true" type="tns:toolDetail" />
          <xs:element name="tool_state" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="updateMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateMaterialResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteStorehouse">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteStorehouseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteEmployeeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllSupplier">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllSupplierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCategoryByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCategoryByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:category" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryMaterialByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryMaterialByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryFamilyByCategory">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryFamilyByCategoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:family" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateFamily">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:family" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateFamilyResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:category" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertCategoryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBrandByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryBrandByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:material" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertMaterialResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryToolByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryToolByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tool" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteTool">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteToolResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertFamily">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:family" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertFamilyResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCitybyId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCitybyIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:city" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryWork_order_lineById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryWork_order_lineByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:workOrderLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangePassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangePasswordResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateTool">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:tool" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateToolResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmployeeByCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmployeeByCodeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllTool">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllToolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tool" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllFamily">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllFamilyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:family" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCustomer">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryFamilyByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryFamilyByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:family" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteCategory">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteCategoryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCountry">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllCountryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:country" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteSupplier">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteSupplierResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllStorehouse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllStorehouseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:storehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateStorehouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:storehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateStorehouseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllMeasurement_Unit">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllMeasurement_UnitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:measureUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertTool">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:tool" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertToolResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllTransferDone">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllTransferDoneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:transfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllEmployee">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllEmployeeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryMeasurementByDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryMeasurementByDescriptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:measureUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CityByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CityByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:city" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStockMaterialByStorehouse">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryStockMaterialByStorehouseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dispatchWork_order">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:workOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dispatchWork_orderResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllBrand">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllBrandResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SOLES" />
      <xs:enumeration value="DOLARES" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="privilege">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MANAGER" />
      <xs:enumeration value="STOREKEEPER" />
      <xs:enumeration value="TECHNICIAN" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>